<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.VisualStudio" version="4.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="NUnit.Runners.Net4" version="2.6.4" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="TestToolsToXunitProxy" version="0.0.3" targetFramework="net45" />
  <package id="Unit" version="1.0.0.0" targetFramework="net45" />
</packages>